:host {
    justify-content: flex-start;
}

h4 {
    margin: 0.5rem;
}

.table-root {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    justify-content: center;

    flex-shrink: 1;
    row-gap: 0.25rem;

    .header {
        margin: 0.5rem;
    }
}