@import '../../../theme/colors.scss';

:host {
    height: 100%;
    justify-content: flex-start;
}

h4 {
    color: $page-text;
    margin: 2rem;
}

.event-list {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.event-container {
    border: 2px solid $box-border;
    padding: 0.5rem;
    color: white;
    margin: 2rem;
    margin-top:0;
}