@import '../../../theme/colors.scss';

:host {
    height: 100%;
}

form {
    margin-top: 7rem;
    align-self: center;

    div {
        display: flex;
        ion-input {
            width: 22rem;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.add-resource {
    align-self: flex-end;
    max-width: 20rem;

    border: 2px solid #0DD7FF;
}

h1, h4 {
    color: $title-text;
}