:host {
    height: 100%;
}

form {
    margin-top: 7rem;
    display: flex;
    align-self: center;
    ion-input {
        width: 22rem;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.add-resource {
    align-self: flex-end;
    max-width: 20rem;
}