@import '../../../theme/colors.scss';

:host {
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
}

form {

    div {
        display: flex;
        ion-input {
            width: 22rem;
            color: white;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    form {
        margin-top: 7rem;
        align-self: center;
    }

    .footer {
        flex-direction: row;
        align-items: flex-end;
    }
}

.add-resource {
    align-self: flex-end;
    max-width: 20rem;

    border: 2px solid #0DD7FF;
    margin-inline: 0;
}

h1, h4 {
    color: $title-text;
}

.hound-bot-title {
    display: flex;
    align-items: center;
    ion-avatar {
        margin-right: 1rem;
    }
}