@import 'theme/colors.scss';

html {
    height: 100%;
    width: 100%;
    body {
        height: 100%;
    }

    ion-app {
        width: 100%;

        // Extra Small devices (landscape phones, 0px and up)
        padding-left: 1rem;
        padding-right: 1rem;

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            padding-left: 5rem;
            padding-right: 5rem;
         }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) { 
            padding-left: 10rem;
            padding-right: 10rem;
         }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { 
            padding-left: 15rem;
            padding-right: 15rem;
         }

        // Huge devices (large desktops, 1600px and up)
        @media (min-width: 1600px) { 
            padding-left: 20rem;
            padding-right: 20rem;
         }

        // Massive devices (4k, 1600px and up)
        @media (min-width: 2000px) { 
            padding-left: 30rem;
            padding-right: 30rem;
         }
    }
}

.icon-button {
    background-color: transparent;

    ion-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.add ion-icon {
        color: lime;
    }

    &.delete ion-icon {
        color: red;
    }
}
